<!-- <ion-header>
  <ion-toolbar>
    <ion-title>information</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div id="modal-header" *ngIf="step == 1">
    {{'new-exercise.newExercise_1' | translate}}
  </div>

  <div id="modal-header" *ngIf="step == 2">
    {{'new-exercise.newExercise_2' | translate}}
  </div>

  <div id="modal-header" *ngIf="step == 3">
    {{'new-exercise.newExercise_3' | translate}}
  </div>

  <div id="modal-header" *ngIf="step == 4">
    {{'new-exercise.newExercise_4' | translate}}
  </div>

  <div id="modal-header" *ngIf="step == 5">
    {{'new-exercise.newExercise_5' | translate}}
  </div>

  <div id="modal-header" *ngIf="step == 6">
    {{'new-exercise.newExercise_6' | translate}}
  </div>

  <div id="modal-header" *ngIf="step == 7">
    {{'new-exercise.newExercise_7' | translate}}
  </div>

  <div id="outer-modal">
    <div id="inner-modal">

      <div id="inner-information">

        <div style="min-height: 571px;" *ngIf="step == 1">
          
          <ion-row>
            <ion-col size="4">
              <label style="text-align: center;">
                <div style="height: 200px; display: flex;">
                  <img src="assets/terreno1.svg" alt="" style="width: 200px; margin: auto;">
                </div>

                  <input type="radio" name="terreno" (click)="terreno = 1">
                <span style="position: relative; top: 8px; display: block;">{{'new-exercise.newExercise_8' | translate}}</span>
              </label>
            </ion-col>

            <ion-col size="4">
              <label style="text-align: center;">
                <div style="height: 200px; display: flex;">
                  <img src="assets/terreno2.svg" alt="" style="margin: auto; width: 200px; margin: auto;">
                </div>

                  <input type="radio" name="terreno" (click)="terreno = 2">
                <span style="position: relative; top: 8px; display: block;">{{'new-exercise.newExercise_9' | translate}}</span>
              </label>
            </ion-col>

            <ion-col size="4">
              <label style="text-align: center;">
                <div style="height: 200px; display: flex;">
                  <img src="assets/terreno3.svg" alt="" style="margin: auto; width: 200px; margin: auto;">
                </div>

                  <input type="radio" name="terreno" (click)="terreno = 3">
                <span style="position: relative; top: 8px; display: block;">{{'new-exercise.newExercise_10' | translate}}</span>
              </label>
            </ion-col>


            <ion-col size="4">
            </ion-col>
            <ion-col size="4">
              <br>
              <label style="text-align: center;">
                  <input type="radio" name="terreno" (click)="terreno = 4">
                <span style="position: relative; top: 8px; display: block;">{{'new-exercise.newExercise_11' | translate}}</span>
              </label>
            </ion-col>
          </ion-row>

          <br><br>

          <ion-row class="row-bottom">
            <ion-col offset="4" size="4">
              <button class="button-login" [disabled]="!terreno" (click)="step = 2">
                {{'new-exercise.newExercise_12' | translate}}
              </button>
            </ion-col>
          </ion-row>


        </div>

        <div style="min-height: 571px;" *ngIf="step == 2">

          <ion-row>
            
            <ion-col size="4" style="border-right: 2px solid green; min-height: 360px;">
              
              <ion-row>
                <ion-col size="12" *ngIf="team1">
                  
                  <div class="teamImage" [ngStyle]="{'background-image':'url('+team1.image+')'}">
                    
                  </div>
                  <div class="teamName">
                    {{team1.name}}
                  </div>

                  <div style="clear: both;"></div>

                  <br>

                  <ion-row>
                    <ion-col size="4"><span class="to-mid">{{'new-exercise.newExercise_13' | translate}}</span></ion-col>
                    <ion-col size="8">

                      <div class="colors">
                        <div class="color" [ngStyle]="{'background-color': styles.team1.number}" (click)="selectToggle('selectT1N')">
                          
                          <div class="list-of-colors pr" *ngIf="selectT1N">
                                    <div *ngFor="let c of colors" class="color" (click)="styles.team1.number = c;" [ngStyle]="{'background-color':c}" [ngClass]="{'selectedColor': styles.team1.number == c}">
                                    </div>
                                </div>

                        </div>

                        {{'new-exercise.newExercise_14' | translate}}
                      </div>

                      <div class="colors">
                        <div class="color" [ngStyle]="{'background-color': styles.team1.main}" (click)="selectToggle('selectT1M')">
                          
                          <div class="list-of-colors pr" *ngIf="selectT1M">
                                    <div *ngFor="let c of colors" class="color" (click)="styles.team1.main = c;" [ngStyle]="{'background-color':c}" [ngClass]="{'selectedColor': styles.team1.main == c}">
                                    </div>
                                </div>

                        </div>

                        {{'new-exercise.newExercise_15' | translate}}
                      </div>

                      <div class="colors">
                        <div class="color" [ngStyle]="{'background-color': styles.team1.back}" (click)="selectToggle('selectT1B')">
                          
                          <div class="list-of-colors pr" *ngIf="selectT1B">
                                    <div *ngFor="let c of colors" class="color" (click)="styles.team1.back = c;" [ngStyle]="{'background-color':c}" [ngClass]="{'selectedColor': styles.team1.back == c}">
                                    </div>
                                </div>

                        </div>

                        {{'new-exercise.newExercise_16' | translate}}
                      </div>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="4"><span class="to-mid">Estilos</span></ion-col>
                    <ion-col size="8">

                      <div class="colors">
                        <div class="color number"
                        [ngStyle]="{'color': styles.team1.number ,'background': 'repeating-linear-gradient('+styles.team1.main+', '+styles.team1.main+' 5px, '+styles.team1.back+' 5px, '+styles.team1.back+' 10px)'}"
                        [ngClass]="{'selectedStyle': styles.team1.style == 1}" (click)="styles.team1.style = 1">
                          10
                        </div>

                        {{'new-exercise.newExercise_17' | translate}}
                      </div>

                      <div class="colors">
                        <div class="color number"
                        [ngStyle]="{'color': styles.team1.number ,'background': 'repeating-linear-gradient(90deg,'+styles.team1.main+', '+styles.team1.main+' 5px, '+styles.team1.back+' 5px, '+styles.team1.back+' 10px)'}"
                        [ngClass]="{'selectedStyle': styles.team1.style == 2}" (click)="styles.team1.style = 2">
                          10
                        </div>

                        {{'new-exercise.newExercise_18' | translate}}
                      </div>

                      <div class="colors">
                        <div class="color number"
                        [ngStyle]="{'color': styles.team1.number ,'background': 'repeating-linear-gradient(45deg,'+styles.team1.main+', '+styles.team1.main+' 5px, '+styles.team1.back+' 5px, '+styles.team1.back+' 10px)'}"
                        [ngClass]="{'selectedStyle': styles.team1.style == 3}" (click)="styles.team1.style = 3">
                          10
                        </div>

                        {{'new-exercise.newExercise_19' | translate}}
                      </div>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="4"><span class="to-mid">{{'new-exercise.newExercise_20' | translate}}</span></ion-col>
                    <ion-col size="8">
                      <div class="colors">
                        <div class="color number"
                        [ngStyle]="{'color': styles.team1.number ,'background': styles.team1.main}"
                        [ngClass]="{'selectedStyle': styles.team1.style == 4}" (click)="styles.team1.style = 4">
                          10
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>

                </ion-col>
                <ion-col size="6">
                  <button class="modal-button" (click)="selectedTeam = 1; step = 3">
                    {{'new-exercise.newExercise_21' | translate}}
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button" *ngIf="team1" (click)="selectedTeam = 1; step = 5; preRosters(); prePlayers();">
                    {{'new-exercise.newExercise_22' | translate}}
                  </button>
                </ion-col>
              </ion-row>


            </ion-col>
            <ion-col size="4" style="border-right: 2px solid green; min-height: 360px;">
              
              <ion-row>
                <ion-col size="12" *ngIf="team2">
                  
                  <div class="teamImage" [ngStyle]="{'background-image':'url('+team2.image+')'}">
                    
                  </div>
                  <div class="teamName">
                    {{team2.name}}
                  </div>

                  <div style="clear: both;"></div>

                  <br>

                  <ion-row>
                    <ion-col size="4"><span class="to-mid">{{'new-exercise.newExercise_23' | translate}}</span></ion-col>
                    <ion-col size="8">

                      <div class="colors">
                        <div class="color" [ngStyle]="{'background-color': styles.team2.number}" (click)="selectToggle('selectT2N')">
                          
                          <div class="list-of-colors pr" *ngIf="selectT2N">
                                    <div *ngFor="let c of colors" class="color" (click)="styles.team2.number = c;" [ngStyle]="{'background-color':c}" [ngClass]="{'selectedColor': styles.team2.number == c}">
                                    </div>
                                </div>

                        </div>

                        {{'new-exercise.newExercise_24' | translate}}
                      </div>

                      <div class="colors">
                        <div class="color" [ngStyle]="{'background-color': styles.team2.main}" (click)="selectToggle('selectT2M')">
                          
                          <div class="list-of-colors pr" *ngIf="selectT2M">
                                    <div *ngFor="let c of colors" class="color" (click)="styles.team2.main = c;" [ngStyle]="{'background-color':c}" [ngClass]="{'selectedColor': styles.team2.main == c}">
                                    </div>
                                </div>

                        </div>

                        {{'new-exercise.newExercise_25' | translate}}
                      </div>

                      <div class="colors">
                        <div class="color" [ngStyle]="{'background-color': styles.team2.back}" (click)="selectToggle('selectT2B')">
                          
                          <div class="list-of-colors pr" *ngIf="selectT2B">
                                    <div *ngFor="let c of colors" class="color" (click)="styles.team2.back = c;" [ngStyle]="{'background-color':c}" [ngClass]="{'selectedColor': styles.team2.back == c}">
                                    </div>
                                </div>

                        </div>

                        {{'new-exercise.newExercise_26' | translate}}
                      </div>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="4"><span class="to-mid">{{'new-exercise.newExercise_27' | translate}}</span></ion-col>
                    <ion-col size="8">

                      <div class="colors">
                        <div class="color number"
                        [ngStyle]="{'color': styles.team2.number ,'background': 'repeating-linear-gradient('+styles.team2.main+', '+styles.team2.main+' 5px, '+styles.team2.back+' 5px, '+styles.team2.back+' 10px)'}"
                        [ngClass]="{'selectedStyle': styles.team2.style == 1}" (click)="styles.team2.style = 1">
                          10
                        </div>

                        {{'new-exercise.newExercise_28' | translate}}
                      </div>

                      <div class="colors">
                        <div class="color number"
                        [ngStyle]="{'color': styles.team2.number ,'background': 'repeating-linear-gradient(90deg,'+styles.team2.main+', '+styles.team2.main+' 5px, '+styles.team2.back+' 5px, '+styles.team2.back+' 10px)'}"
                        [ngClass]="{'selectedStyle': styles.team2.style == 2}" (click)="styles.team2.style = 2">
                          10
                        </div>

                        {{'new-exercise.newExercise_29' | translate}}
                      </div>

                      <div class="colors">
                        <div class="color number"
                        [ngStyle]="{'color': styles.team2.number ,'background': 'repeating-linear-gradient(45deg,'+styles.team2.main+', '+styles.team2.main+' 5px, '+styles.team2.back+' 5px, '+styles.team2.back+' 10px)'}"
                        [ngClass]="{'selectedStyle': styles.team2.style == 3}" (click)="styles.team2.style = 3">
                          10
                        </div>

                        {{'new-exercise.newExercise_30' | translate}}
                      </div>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="4"><span class="to-mid">{{'new-exercise.newExercise_31' | translate}}</span></ion-col>
                    <ion-col size="8">
                      <div class="colors">
                        <div class="color number"
                        [ngStyle]="{'color': styles.team2.number ,'background': styles.team2.main}"
                        [ngClass]="{'selectedStyle': styles.team2.style == 4}" (click)="styles.team2.style = 4">
                          10
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>

                </ion-col>

                <ion-col size="6">
                  <button class="modal-button" (click)="selectedTeam = 2; step = 3">
                    {{'new-exercise.newExercise_32' | translate}}
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button" *ngIf="team2" (click)="selectedTeam = 2; step = 5; preRosters(); prePlayers();">
                    {{'new-exercise.newExercise_33' | translate}}
                  </button>
                </ion-col>
              </ion-row>

            </ion-col>

            <ion-col size="4" style="min-height: 360px;">
              
              <ion-row>
                <ion-col size="12" *ngIf="team3">
                  
                  <div class="teamImage" [ngStyle]="{'background-image':'url('+team3.image+')'}">
                    
                  </div>
                  <div class="teamName">
                    {{team3.name}}
                  </div>

                  <div style="clear: both;"></div>

                  <br>

                  <ion-row>
                    <ion-col size="4"><span class="to-mid">{{'new-exercise.newExercise_34' | translate}}</span></ion-col>
                    <ion-col size="8">

                      <div class="colors">
                        <div class="color" [ngStyle]="{'background-color': styles.team3.number}" (click)="selectToggle('selectT2N')">
                          
                          <div class="list-of-colors pr" *ngIf="selectT2N">
                                    <div *ngFor="let c of colors" class="color" (click)="styles.team3.number = c;" [ngStyle]="{'background-color':c}" [ngClass]="{'selectedColor': styles.team3.number == c}">
                                    </div>
                                </div>

                        </div>

                        {{'new-exercise.newExercise_35' | translate}}
                      </div>

                      <div class="colors">
                        <div class="color" [ngStyle]="{'background-color': styles.team3.main}" (click)="selectToggle('selectT2M')">
                          
                          <div class="list-of-colors pr" *ngIf="selectT2M">
                                    <div *ngFor="let c of colors" class="color" (click)="styles.team3.main = c;" [ngStyle]="{'background-color':c}" [ngClass]="{'selectedColor': styles.team3.main == c}">
                                    </div>
                                </div>

                        </div>

                        {{'new-exercise.newExercise_36' | translate}}
                      </div>

                      <div class="colors">
                        <div class="color" [ngStyle]="{'background-color': styles.team3.back}" (click)="selectToggle('selectT2B')">
                          
                          <div class="list-of-colors pr" *ngIf="selectT2B">
                                    <div *ngFor="let c of colors" class="color" (click)="styles.team3.back = c;" [ngStyle]="{'background-color':c}" [ngClass]="{'selectedColor': styles.team3.back == c}">
                                    </div>
                                </div>

                        </div>

                        {{'new-exercise.newExercise_37' | translate}}
                      </div>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="4"><span class="to-mid">{{'new-exercise.newExercise_38' | translate}}</span></ion-col>
                    <ion-col size="8">

                      <div class="colors">
                        <div class="color number"
                        [ngStyle]="{'color': styles.team3.number ,'background': 'repeating-linear-gradient('+styles.team3.main+', '+styles.team3.main+' 5px, '+styles.team3.back+' 5px, '+styles.team3.back+' 10px)'}"
                        [ngClass]="{'selectedStyle': styles.team3.style == 1}" (click)="styles.team3.style = 1">
                          10
                        </div>

                        {{'new-exercise.newExercise_39' | translate}}
                      </div>

                      <div class="colors">
                        <div class="color number"
                        [ngStyle]="{'color': styles.team3.number ,'background': 'repeating-linear-gradient(90deg,'+styles.team3.main+', '+styles.team3.main+' 5px, '+styles.team3.back+' 5px, '+styles.team3.back+' 10px)'}"
                        [ngClass]="{'selectedStyle': styles.team3.style == 2}" (click)="styles.team3.style = 2">
                          10
                        </div>

                        {{'new-exercise.newExercise_40' | translate}}
                      </div>

                      <div class="colors">
                        <div class="color number"
                        [ngStyle]="{'color': styles.team3.number ,'background': 'repeating-linear-gradient(45deg,'+styles.team3.main+', '+styles.team3.main+' 5px, '+styles.team3.back+' 5px, '+styles.team3.back+' 10px)'}"
                        [ngClass]="{'selectedStyle': styles.team3.style == 3}" (click)="styles.team3.style = 3">
                          10
                        </div>

                        {{'new-exercise.newExercise_41' | translate}}
                      </div>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="4"><span class="to-mid">{{'new-exercise.newExercise_42' | translate}}</span></ion-col>
                    <ion-col size="8">
                      <div class="colors">
                        <div class="color number"
                        [ngStyle]="{'color': styles.team3.number ,'background': styles.team3.main}"
                        [ngClass]="{'selectedStyle': styles.team3.style == 4}" (click)="styles.team3.style = 4">
                          10
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>

                </ion-col>

                <ion-col size="6">
                  <button class="modal-button" (click)="selectedTeam = 3; step = 3">
                    {{'new-exercise.newExercise_43' | translate}}
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button" *ngIf="team3" (click)="selectedTeam = 3; step = 5; preRosters(); prePlayers();">
                    {{'new-exercise.newExercise_44' | translate}}
                  </button>
                </ion-col>
              </ion-row>

            </ion-col>

          </ion-row>

          <ion-row style="margin-top: 20px;" class="row-bottom">
            <!-- <ion-col size="6">
              <label style="position: relative; top: 0px;">Portero con equipación diferente 
                <ion-toggle style="position: relative; top: 14px;"></ion-toggle>
              </label>
            </ion-col> -->

            <ion-col size="6" offset="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" [disabled]="!team1 && !team2" (click)="step = 7">
                    {{'new-exercise.newExercise_45' | translate}}
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button danger" (click)="modal.dismiss()">
                    {{'new-exercise.newExercise_46' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          
        </div>

        <!-- /**/ -->

        <div style="min-height: 571px;" *ngIf="step == 3">

          <ion-row>
            <ion-col size="12">
              <div id="search-doc">
                <ion-icon name="search"></ion-icon>
                <input type="text" [(ngModel)]="query1">
                <div style="clear: both;"></div>
              </div>    
            </ion-col>
          </ion-row>
          
          <ion-row style="border-bottom: 1px solid #ccc; text-align: center;">
            <ion-col size="4">{{'new-exercise.newExercise_47' | translate}}</ion-col>
            <ion-col size="4">{{'new-exercise.newExercise_48' | translate}}</ion-col>
            <ion-col size="3">{{'new-exercise.newExercise_49' | translate}}</ion-col>
            <!-- <ion-col size="3">Favorito</ion-col> -->
            <ion-col size="1"></ion-col>
          </ion-row>

          <div style="height: 271px; overflow: auto;">
            

            <ion-row *ngFor="let t of teams | search:query1; let i = index;" style="margin: 8px 0" [ngClass]="{'selectedTeam': team == i}">
              <ion-col size="4" (click)="team = i">
                <div class="team-logo" [ngStyle]="{'background-image':'url('+t.image+')'}"></div>
              </ion-col>
              <ion-col size="4" (click)="team = i" style="text-align: center;">
                <span class="reconfigure">{{t.name}}</span>
              </ion-col>
              <ion-col size="3" (click)="team = i" style="text-align: center;">
                <span class="reconfigure">{{t.created_at | date:'dd-MM-yyyy'}}</span>
              </ion-col>
              <!-- <ion-col size="3">
                <span class=""><ion-toggle style="margin-top: 4px"></ion-toggle></span>
              </ion-col> -->
              <ion-col size="1">
                <span class="">
                  <ion-button slot="icon-only" color="danger" (click)="delete(t.id)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </span>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="teams.length == 0">
              <ion-col size="12" style="text-align: center; font-size: 14px;">{{'new-exercise.newExercise_50' | translate}}</ion-col>
            </ion-row>

          </div>

          <ion-row class="row-bottom">
            <ion-col size="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" (click)="goCreate()">
                   {{'new-exercise.newExercise_51' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" (click)="selectTeam()">
                    {{'new-exercise.newExercise_52' | translate}}
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button danger" (click)="step = 2">
                    {{'new-exercise.newExercise_53' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>


        </div>

        <div style="min-height: 571px;" *ngIf="step == 4">

          <ion-row>
            <ion-col size="3">

              <label class="preselect" [ngStyle]="{'background-image':'url('+team_image+')'}">
                <input type="file" style="display: none" id="team-file" (change)="upload($event,'team_image')">
              </label>

            </ion-col>

            <ion-col size="9">

              <label class="modal-label">
                {{'new-exercise.newExercise_54' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="team_name">
            </ion-col>
          </ion-row>

          <!-- <ion-row>
            <ion-col offset="4" size="4">
              <button class="button-login" [disabled]="!team_name" (click)="saveTeam()">
                Agregar
              </button>
            </ion-col>
          </ion-row> -->

          <ion-row class="row-bottom">
            <ion-col size="6" offset="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" [disabled]="!team_name" (click)="saveTeam()">
                    {{'new-exercise.newExercise_55' | translate}}
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button danger" (click)="step = 2">
                    {{'new-exercise.newExercise_56' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>

        </div>

        <!-- /**/ -->

        <div *ngIf="step == 5">

          <ion-row>
            <ion-col size="12">
              <div id="search-doc">
                <ion-icon name="search"></ion-icon>
                <input type="text" [(ngModel)]="query2">
                <div style="clear: both;"></div>
              </div>    
            </ion-col>
          </ion-row>
          
          <ion-row style="border-bottom: 1px solid #ccc; text-align: left;">
            <ion-col size="1"></ion-col>
            <ion-col size="2">{{'new-exercise.newExercise_57' | translate}}</ion-col>
            <ion-col size="2">{{'new-exercise.newExercise_58' | translate}}</ion-col>
            <ion-col size="1">{{'new-exercise.newExercise_59' | translate}}</ion-col>
            <ion-col size="1">{{'new-exercise.newExercise_60' | translate}}</ion-col>
            
            <ion-col size="3" class="ion-no-padding">

              <ion-row>

                <ion-col size="6">{{'new-exercise.newExercise_61' | translate}}</ion-col>
                <ion-col size="6">{{'new-exercise.newExercise_62' | translate}}</ion-col>
                
              </ion-row>
              
            </ion-col>
            
            <ion-col size="1">{{'new-exercise.newExercise_63' | translate}}</ion-col>
            <!-- <ion-col size="2">Peto</ion-col> -->
            <ion-col size="1"></ion-col>
            
          </ion-row>

          <div style="height: 371px; overflow: auto;">
            

            <ion-row *ngFor="let r of rosters | search:query; let i = index;" style="margin: 8px 0">
              <ion-col size="1">
                
                <label class="preselect2" [ngStyle]="{'background-image':'url('+r.player?.image+')'}">
                  
                </label>

              </ion-col>
              <ion-col size="2">
                <span class="reconfigure">
                  <select [attr.data-id]="r.id" class="players form-control" (change)="updateRoster(r,$event,'player')">
                    <option selected></option>
                    <option [selected]="p.id == r.player_id" *ngFor="let p of players | double:players_selected:r.player_id" [value]="p.id">{{p.name}}</option>
                  </select>
                </span>
                <!-- <span class="reconfigure">{{r.player.name}}</span> -->
              </ion-col>
              <ion-col size="2">
                <span class="reconfigure">{{r.player?.email}}</span>
              </ion-col>
              <ion-col size="1">
                <span class="reconfigure">{{r.player?.phone}}</span>
              </ion-col>
              <ion-col size="1">
                <span class="reconfigure">
                  <input type="number" [attr.data-id]="r.id" class="numbers form-control" [value]="r.number" (change)="updateRoster(r,$event,'number')">
                </span>
              </ion-col>
              <ion-col size="3" class="ion-no-padding">

                <ion-row>

                  <ion-col size="6">
                    <span class="reconfigure">
                      <select [attr.data-id]="r.id" class="positions form-control" (change)="updateRoster(r,$event,'position')">
                        <option selected></option>
                        <option value='Portero' [selected]="r.position == 'Portero'">{{'new-exercise.newExercise_64' | translate}}</option>
                        <option value='Carrilero' [selected]="r.position == 'Carrilero'">{{'new-exercise.newExercise_65' | translate}}</option>
                        <option value='Mediocampista' [selected]="r.position == 'Mediocampista'">{{'new-exercise.newExercise_66' | translate}}</option>
                        <option value='Lateral izquierdo' [selected]="r.position == 'Lateral izquierdo'">{{'new-exercise.newExercise_67' | translate}}</option>
                        <option value='Defensa central' [selected]="r.position == 'Defensa central'">{{'new-exercise.newExercise_68' | translate}}</option>
                        <option value='Lateral derecho' [selected]="r.position == 'Lateral derecho'">{{'new-exercise.newExercise_69' | translate}}</option>
                        <option value='Centrocampista Ofensivo' [selected]="r.position == 'Centrocampista Ofensivo'">{{'new-exercise.newExercise_70' | translate}}</option>
                        <option value='Centrocampista Defensivo' [selected]="r.position == 'Centrocampista Defensivo'">{{'new-exercise.newExercise_71' | translate}}</option>
                        <option value='Extremo Derecho' [selected]="r.position == 'Extremo Derecho'">{{'new-exercise.newExercise_72' | translate}}</option>
                        <option value='Extremo Izquierdo' [selected]="r.position == 'Extremo Izquierdo'">{{'new-exercise.newExercise_73' | translate}}</option>
                        <option value='Mediapunta' [selected]="r.position == 'Mediapunta'">{{'new-exercise.newExercise_74' | translate}}</option>
                        <option value='Delantero' [selected]="r.position == 'Delantero'">{{'new-exercise.newExercise_75' | translate}}</option>
                      </select>
                    </span>
                  </ion-col>

                  <ion-col size="6">
                    <span class="reconfigure">
                      <select [attr.data-id]="r.id" class="positions_2 form-control" (change)="updateRoster(r,$event,'position_2')">
                        <option selected></option>
                        <option value='Portero' [selected]="r.position_2 == 'Portero'">{{'new-exercise.newExercise_76' | translate}}</option>
                        <option value='Carrilero' [selected]="r.position_2 == 'Carrilero'">{{'new-exercise.newExercise_77' | translate}}</option>
                        <option value='Mediocampista' [selected]="r.position_2 == 'Mediocampista'">{{'new-exercise.newExercise_78' | translate}}</option>
                        <option value='Lateral izquierdo' [selected]="r.position_2 == 'Lateral izquierdo'">{{'new-exercise.newExercise_79' | translate}}</option>
                        <option value='Defensa central' [selected]="r.position_2 == 'Defensa central'">{{'new-exercise.newExercise_80' | translate}}</option>
                        <option value='Lateral derecho' [selected]="r.position_2 == 'Lateral derecho'">{{'new-exercise.newExercise_81' | translate}}</option>
                        <option value='Centrocampista Ofensivo' [selected]="r.position_2 == 'Centrocampista Ofensivo'">{{'new-exercise.newExercise_82' | translate}}</option>
                        <option value='Centrocampista Defensivo' [selected]="r.position_2 == 'Centrocampista Defensivo'">{{'new-exercise.newExercise_83' | translate}}</option>
                        <option value='Extremo Derecho' [selected]="r.position_2 == 'Extremo Derecho'">{{'new-exercise.newExercise_84' | translate}}</option>
                        <option value='Extremo Izquierdo' [selected]="r.position_2 == 'Extremo Izquierdo'">{{'new-exercise.newExercise_85' | translate}}</option>
                        <option value='Mediapunta' [selected]="r.position_2 == 'Mediapunta'">{{'new-exercise.newExercise_86' | translate}}</option>
                        <option value='Delantero' [selected]="r.position_2 == 'Delantero'">{{'new-exercise.newExercise_87' | translate}}</option>
                      </select>
                    </span>
                  </ion-col>
                  
                </ion-row>
                
              </ion-col>

              <ion-col size="1">
                <span class="reconfigure">{{r.player?.side}}</span>
              </ion-col>

              <!-- <ion-col size="2">
                <span class=""><ion-toggle [checked]="r.titular" style="margin-top: 4px; padding-left: 0"></ion-toggle></span>
              </ion-col> -->
              <!-- <ion-col size="2">
                <div class="team-logo" [ngStyle]="{'background-color': (r.peto || '#fff') }"></div>
              </ion-col> -->
              <ion-col size="1">
                <span class="">
                  <ion-button slot="icon-only" color="danger">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </span>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="rosters.length == 0">
              <ion-col size="12" style="text-align: center; font-size: 14px;">{{'new-exercise.newExercise_88' | translate}}</ion-col>
            </ion-row>

          </div>

          <ion-row>
            <ion-col size="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" (click)="step = 6">
                    {{'new-exercise.newExercise_89' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button danger" style="width: 50%; float: right; height: 42px;" (click)="addRoster({})">
                    <ion-icon style="color: crimson;" name="add-outline"></ion-icon>
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button" (click)="step = 3">
                    {{'new-exercise.newExercise_90' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>


        </div>


        <!-- /**/ -->

        <div *ngIf="step == 6">

          <ion-row style="height: 571px;">
            <ion-col size="3">

              <label class="preselect" [ngStyle]="{'background-image':'url('+player_image+')'}">
                <input type="file" style="display: none" id="team-file" (change)="upload($event,'player_image')">
              </label>

            </ion-col>

            <ion-col size="2">

              <label class="modal-label">
                {{'new-exercise.newExercise_91' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_name">

            </ion-col>

            <ion-col size="1">

              <label class="modal-label">
                {{'new-exercise.newExercise_92' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_number">
              
            </ion-col>

            <ion-col size="3">
              <label class="modal-label">
                {{'new-exercise.newExercise_93' | translate}}
              </label>

              <select [(ngModel)]="player_position" class="form-control" style="top: 10px;">
                <option value='Portero'>{{'new-exercise.newExercise_76' | translate}}</option>
                <option value='Carrilero'>{{'new-exercise.newExercise_77' | translate}}</option>
                <option value='Mediocampista'>{{'new-exercise.newExercise_78' | translate}}</option>
                <option value='Lateral izquierdo'>{{'new-exercise.newExercise_79' | translate}}</option>
                <option value='Defensa central'>{{'new-exercise.newExercise_80' | translate}}</option>
                <option value='Lateral derecho'>{{'new-exercise.newExercise_81' | translate}}</option>
                <option value='Centrocampista Ofensivo'>{{'new-exercise.newExercise_82' | translate}}</option>
                <option value='Centrocampista Defensivo'>{{'new-exercise.newExercise_83' | translate}}</option>
                <option value='Extremo Derecho'>{{'new-exercise.newExercise_84' | translate}}</option>
                <option value='Extremo Izquierdo'>{{'new-exercise.newExercise_85' | translate}}</option>
                <option value='Mediapunta'>{{'new-exercise.newExercise_86' | translate}}</option>
                <option value='Delantero'>{{'new-exercise.newExercise_87' | translate}}</option>
              </select>
            </ion-col>

            <ion-col size="3">
              <label class="modal-label">
                {{'new-exercise.newExercise_94' | translate}}
              </label>

              <select [(ngModel)]="player_position_2" class="form-control" style="top: 10px;">
                <option value='Portero'>{{'new-exercise.newExercise_76' | translate}}</option>
                <option value='Carrilero'>{{'new-exercise.newExercise_77' | translate}}</option>
                <option value='Mediocampista'>{{'new-exercise.newExercise_78' | translate}}</option>
                <option value='Lateral izquierdo'>{{'new-exercise.newExercise_79' | translate}}</option>
                <option value='Defensa central'>{{'new-exercise.newExercise_80' | translate}}</option>
                <option value='Lateral derecho'>{{'new-exercise.newExercise_81' | translate}}</option>
                <option value='Centrocampista Ofensivo'>{{'new-exercise.newExercise_82' | translate}}</option>
                <option value='Centrocampista Defensivo'>{{'new-exercise.newExercise_83' | translate}}</option>
                <option value='Extremo Derecho'>{{'new-exercise.newExercise_84' | translate}}</option>
                <option value='Extremo Izquierdo'>{{'new-exercise.newExercise_85' | translate}}</option>
                <option value='Mediapunta'>{{'new-exercise.newExercise_86' | translate}}</option>
                <option value='Delantero'>{{'new-exercise.newExercise_87' | translate}}</option>
              </select>
            </ion-col>

            <ion-col size="3" offset="3">

              <label class="modal-label">
                {{'new-exercise.newExercise_95' | translate}}
              </label>

              <input type="date" class="modal-input" [(ngModel)]="player_bday">             

            </ion-col>

            <ion-col size="2">

              <label class="modal-label">
                {{'new-exercise.newExercise_96' | translate}}
              </label>

              <select [(ngModel)]="player_sex" class="form-control" style="top: 10px;">
                <option selected disabled></option>
                <option value="Masculino">{{'new-exercise.newExercise_97' | translate}}</option>
                <option value="Femenino">{{'new-exercise.newExercise_98' | translate}}</option>
              </select>

            </ion-col>

            <ion-col size="1">

              <label class="modal-label">
                {{'new-exercise.newExercise_99' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_weight">

            </ion-col>

            <ion-col size="1">

              <label class="modal-label">
                {{'new-exercise.newExercise_100' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_height">
              
            </ion-col>

            <ion-col size="2">

              <label class="modal-label">
                {{'new-exercise.newExercise_101' | translate}}
              </label>

              <select [(ngModel)]="player_side" class="form-control" style="top: 10px;">
                <option selected disabled></option>
                <option value="Diestro">{{'new-exercise.newExercise_102' | translate}}</option>
                <option value="Zurdo">{{'new-exercise.newExercise_103' | translate}}</option>
              </select>
              
            </ion-col>

            <!-- <ion-col size="2">
              <label class="modal-label">
                Titular
              </label>

              <span class=""><ion-toggle [(ngModel)]="player_titular" style="margin-top: 4px; padding-left: 0"></ion-toggle></span>
            </ion-col> -->

            <ion-col size="6">

              <label class="modal-label">
                {{'new-exercise.newExercise_104' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_phone">
              
            </ion-col>

            <ion-col size="6">

              <label class="modal-label">
                {{'new-exercise.newExercise_105' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_email">
              
            </ion-col>

            <ion-col size="12">
              <label class="modal-label">
                {{'new-exercise.newExercise_106' | translate}}
              </label>

              <textarea [(ngModel)]="player_notes" style="width: 100%; resize: none; border-radius: 4px; padding: 8px;" rows="6"></textarea>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6" offset="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" [disabled]="!player_name" (click)="savePlayer()">
                    {{'new-exercise.newExercise_107' | translate}}
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button danger" (click)="step = 5">
                    {{'new-exercise.newExercise_108' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>

        </div>

        <div style="min-height: 571px;" *ngIf="step == 7">

          <ion-row>

            <ion-col size="6">

              <label class="modal-label">
                {{'new-exercise.newExercise_109' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="name">
            </ion-col>

            <ion-col size="6">

              <label class="modal-label">
                {{'new-exercise.newExercise_110' | translate}}
              </label>

              <input type="number" class="modal-input" [(ngModel)]="participants">
            </ion-col>

            <ion-col size="6">

              <label class="modal-label">
                {{'new-exercise.newExercise_111' | translate}}
              </label> <br>

              <select class="form-control" [(ngModel)]="difficult">
                  <option selected></option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
            </ion-col>

            <ion-col size="3">

              <label class="modal-label">
                {{'new-exercise.newExercise_112' | translate}}
              </label>

              <!-- <input type="number" placeholder="Min" class="modal-input" [(ngModel)]="min_age"> -->
              <input type="text" placeholder="" class="modal-input" [(ngModel)]="objectives">
            </ion-col>

            <ion-col size="3">

              <label class="modal-label">
                {{'new-exercise.newExercise_113' | translate}}
              </label>

              <!-- <input type="number" placeholder="Max" class="modal-input" [(ngModel)]="max_age"> -->
              <input type="text" placeholder="" class="modal-input" [(ngModel)]="objectives_secondary">
            </ion-col>

            <ion-col size="12">
              <label class="modal-label">
                {{'new-exercise.newExercise_114' | translate}}
              </label>

              <textarea [(ngModel)]="description" style="width: 100%; resize: none; border-radius: 4px; padding: 8px;" rows="3"></textarea>
            </ion-col>

            <ion-col size="12">
              <label class="modal-label">
                {{'new-exercise.newExercise_115' | translate}}
              </label>

              <textarea [(ngModel)]="conditions" style="width: 100%; resize: none; border-radius: 4px; padding: 8px;" rows="3"></textarea>
            </ion-col>

            <ion-col size="12">
              <label class="modal-label">
                {{'new-exercise.newExercise_116' | translate}}
              </label>

              <textarea [(ngModel)]="variants" style="width: 100%; resize: none; border-radius: 4px; padding: 8px;" rows="3"></textarea>
            </ion-col>

            <ion-col size="12" *ngIf="user.email == 'info@afecfa.es'">
              <label class="modal-label">
                {{'new-exercise.newExercise_117' | translate}}
              </label>
              <span class=""><ion-toggle [checked]="show_all" [(ngModel)]="show_all" style="margin-top: 4px; padding-left: 0"></ion-toggle></span>
            </ion-col>
          </ion-row>

          <ion-row class="row-bottom">
            <ion-col size="6" offset="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" [disabled]="!name" (click)="upProject()">
                    {{'new-exercise.newExercise_118' | translate}}
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button danger" (click)="modal.dismiss()">
                    {{'new-exercise.newExercise_119' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>

        </div>

      </div>
    </div>
  </div>

</ion-content>
