<!-- <ion-header>
  <ion-toolbar>
    <ion-title>new-player</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div id="modal-header" *ngIf="step == 1">
    {{'new-player.newPlayer_1' | translate}}
  </div>

  <div id="modal-header" *ngIf="step == 2">
    {{'new-player.newPlayer_2' | translate}}
  </div>

  <div id="modal-header" *ngIf="step == 3">
    {{'new-player.newPlayer_3' | translate}}
  </div>

  <div id="modal-header" *ngIf="step == 4">
    {{'new-player.newPlayer_4' | translate}}
  </div>

  <div id="outer-modal">
    <div id="inner-modal">

      <div id="inner-information">

        <div *ngIf="step == 1">

          <ion-row>
            
            <ion-col size="12" style="border-right: 2px solid green; min-height: 521px;">
              
              <ion-row>
                <ion-col size="12" *ngIf="team">
                  
                  <div class="teamImage" [ngStyle]="{'background-image':'url('+team.image+')'}">
                    
                  </div>
                  <div class="teamName">
                    {{team.name}}
                  </div>

                  <div style="clear: both;"></div>

                  <br>

                  <ion-row>
                    <ion-col size="4"><span class="to-mid">{{'new-player.newPlayer_5' | translate}}</span></ion-col>
                    <ion-col size="8">

                      <div class="colors">
                        <div class="color" [ngStyle]="{'background-color': styles.number}" (click)="selectToggle('selectTN')">
                          
                          <div class="list-of-colors pr" *ngIf="selectTN">
                                    <div *ngFor="let c of colors" class="color" (click)="styles.number = c;" [ngStyle]="{'background-color':c}" [ngClass]="{'selectedColor': styles.number == c}">
                                    </div>
                                </div>

                        </div>

                        {{'new-player.newPlayer_6' | translate}}
                      </div>

                      <div class="colors">
                        <div class="color" [ngStyle]="{'background-color': styles.main}" (click)="selectToggle('selectTM')">
                          
                          <div class="list-of-colors pr" *ngIf="selectTM">
                                    <div *ngFor="let c of colors" class="color" (click)="styles.main = c;" [ngStyle]="{'background-color':c}" [ngClass]="{'selectedColor': styles.main == c}">
                                    </div>
                                </div>

                        </div>

                        {{'new-player.newPlayer_7' | translate}}
                      </div>

                      <div class="colors">
                        <div class="color" [ngStyle]="{'background-color': styles.back}" (click)="selectToggle('selectTB')">
                          
                          <div class="list-of-colors pr" *ngIf="selectTB">
                                    <div *ngFor="let c of colors" class="color" (click)="styles.back = c;" [ngStyle]="{'background-color':c}" [ngClass]="{'selectedColor': styles.back == c}">
                                    </div>
                                </div>

                        </div>

                        {{'new-player.newPlayer_8' | translate}}
                      </div>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="4"><span class="to-mid">{{'new-player.newPlayer_9' | translate}}</span></ion-col>
                    <ion-col size="8">

                      <div class="colors">
                        <div class="color number"
                        [ngStyle]="{'color': styles.number ,'background': 'repeating-linear-gradient('+styles.main+', '+styles.main+' 5px, '+styles.back+' 5px, '+styles.back+' 10px)'}"
                        [ngClass]="{'selectedStyle': styles.style == 1}" (click)="styles.style = 1">
                          10
                        </div>

                        {{'new-player.newPlayer_10' | translate}}
                      </div>

                      <div class="colors">
                        <div class="color number"
                        [ngStyle]="{'color': styles.number ,'background': 'repeating-linear-gradient(90deg,'+styles.main+', '+styles.main+' 5px, '+styles.back+' 5px, '+styles.back+' 10px)'}"
                        [ngClass]="{'selectedStyle': styles.style == 2}" (click)="styles.style = 2">
                          10
                        </div>

                        {{'new-player.newPlayer_11' | translate}}
                      </div>

                      <div class="colors">
                        <div class="color number"
                        [ngStyle]="{'color': styles.number ,'background': 'repeating-linear-gradient(45deg,'+styles.main+', '+styles.main+' 5px, '+styles.back+' 5px, '+styles.back+' 10px)'}"
                        [ngClass]="{'selectedStyle': styles.style == 3}" (click)="styles.style = 3">
                          10
                        </div>

                        {{'new-player.newPlayer_12' | translate}}
                      </div>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="4"><span class="to-mid">{{'new-player.newPlayer_13' | translate}}</span></ion-col>
                    <ion-col size="8">
                      <div class="colors">
                        <div class="color number"
                        [ngStyle]="{'color': styles.number ,'background': styles.main}"
                        [ngClass]="{'selectedStyle': styles.style == 4}" (click)="styles.style = 4">
                          10
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>

                </ion-col>
                <!-- <ion-col size="6">
                  <button class="modal-button" (click)="selectedTeam = 1; step = 3">
                    Cargar Equipo
                  </button>
                </ion-col> -->

                <ion-col size="6">
                  <button class="modal-button" *ngIf="team" (click)="step = 3; preRosters(); prePlayers();">
                    {{'new-player.newPlayer_14' | translate}}
                  </button>
                </ion-col>
              </ion-row>


            </ion-col>

          </ion-row>

          <ion-row style="margin-top: 20px;">
            <ion-col size="6">
              <!-- <label style="position: relative; top: 0px;">Portero con equipación diferente 
                <ion-toggle style="position: relative; top: 14px;"></ion-toggle>
              </label> -->
            </ion-col>

            <ion-col size="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" (click)="upProject()">
                    {{'new-player.newPlayer_15' | translate}}
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button danger" (click)="modal.dismiss()">
                    {{'new-player.newPlayer_16' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          
        </div>

        <div *ngIf="step == 2">

          <ion-row>
            <ion-col size="3">

              <label class="preselect" [ngStyle]="{'background-image':'url('+team_image+')'}">
                <input type="file" style="display: none" id="team-file" (change)="upload($event,'team_image')">
              </label>

            </ion-col>

            <ion-col size="9">

              <label class="modal-label">
                {{'new-player.newPlayer_17' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="team_name">
            </ion-col>
          </ion-row>

          <!-- <ion-row>
            <ion-col offset="4" size="4">
              <button class="button-login" [disabled]="!team_name" (click)="saveTeam()">
                Agregar
              </button>
            </ion-col>
          </ion-row> -->

          <ion-row>
            <ion-col size="6" offset="6">
              <ion-row>
                <!-- <ion-col size="6">
                  <button class="modal-button" [disabled]="!team_name" (click)="saveTeam()">
                    Agregar
                  </button>
                </ion-col> -->

                <ion-col size="6">
                  <button class="modal-button danger" (click)="step = 1">
                    {{'new-player.newPlayer_18' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>

        </div>

        <!-- /**/ -->

        <div *ngIf="step == 3">

          <ion-row>
            <ion-col size="12">
              <div id="search-doc">
                <ion-icon name="search"></ion-icon>
                <input type="text" [(ngModel)]="query">
                <div style="clear: both;"></div>
              </div>    
            </ion-col>
          </ion-row>
          
          <ion-row style="border-bottom: 1px solid #ccc; text-align: center;">
            <ion-col size="2">{{'new-player.newPlayer_19' | translate}}</ion-col>
            <ion-col size="2">{{'new-player.newPlayer_20' | translate}}</ion-col>
            <ion-col size="1">{{'new-player.newPlayer_21' | translate}}</ion-col>
            <ion-col size="1">{{'new-player.newPlayer_22' | translate}}</ion-col>
            <ion-col size="2">{{'new-player.newPlayer_23' | translate}}</ion-col>
            <ion-col size="2">{{'new-player.newPlayer_24' | translate}}</ion-col>
            <ion-col size="1">{{'new-player.newPlayer_25' | translate}}</ion-col>
            <!-- <ion-col size="2">Peto</ion-col> -->
            <ion-col size="1"></ion-col>
            
          </ion-row>

          <div style="height: 421px; overflow: auto;">
            

            <ion-row *ngFor="let r of rosters | search:query; let i = index;" style="margin: 8px 0">
              <ion-col size="2">
                <span class="reconfigure">
                  <select [attr.data-id]="r.id" class="players form-control" (change)="updateRoster(r,$event,'player')">
                    <option selected></option>
                    <option [selected]="p.id == r.player_id" *ngFor="let p of players | double:players_selected:r.player_id" [value]="p.id">{{p.name}}</option>
                  </select>
                </span>
                <!-- <span class="reconfigure">{{r.player.name}}</span> -->
              </ion-col>
              <ion-col size="2">
                <span class="reconfigure">{{r.player?.email}}</span>
              </ion-col>
              <ion-col size="1">
                <span class="reconfigure">{{r.player?.phone}}</span>
              </ion-col>
              <ion-col size="1">
                <span class="reconfigure">
                  <input type="number" [attr.data-id]="r.id" class="numbers form-control" [value]="r.number" (change)="updateRoster(r,$event,'number')">
                </span>
              </ion-col>
              <ion-col size="2">
                <span class="reconfigure">
                  <select [attr.data-id]="r.id" class="positions form-control" (change)="updateRoster(r,$event,'position')">
                    <option selected></option>
                    <option value='Portero' [selected]="r.position == 'Portero'">{{'new-player.newPlayer_26' | translate}}</option>
                    <option value='Carrilero' [selected]="r.position == 'Carrilero'">{{'new-player.newPlayer_27' | translate}}</option>
                    <option value='Mediocampista' [selected]="r.position == 'Mediocampista'">{{'new-player.newPlayer_28' | translate}}</option>
                    <option value='Lateral izquierdo' [selected]="r.position == 'Lateral izquierdo'">{{'new-player.newPlayer_29' | translate}}</option>
                    <option value='Defensa central' [selected]="r.position == 'Defensa central'">{{'new-player.newPlayer_30' | translate}}</option>
                    <option value='Lateral derecho' [selected]="r.position == 'Lateral derecho'">{{'new-player.newPlayer_31' | translate}}</option>
                    <option value='Centrocampista Ofensivo' [selected]="r.position == 'Centrocampista Ofensivo'">{{'new-player.newPlayer_32' | translate}}</option>
                    <option value='Centrocampista Defensivo' [selected]="r.position == 'Centrocampista Defensivo'">{{'new-player.newPlayer_33' | translate}}</option>
                    <option value='Extremo Derecho' [selected]="r.position == 'Extremo Derecho'">{{'new-player.newPlayer_34' | translate}}</option>
                    <option value='Extremo Izquierdo' [selected]="r.position == 'Extremo Izquierdo'">{{'new-player.newPlayer_35' | translate}}</option>
                    <option value='Mediapunta' [selected]="r.position == 'Mediapunta'">{{'new-player.newPlayer_36' | translate}}</option>
                    <option value='Delantero' [selected]="r.position == 'Delantero'">{{'new-player.newPlayer_37' | translate}}</option>
                  </select>
                </span>
              </ion-col>

              <ion-col size="2">
                <span class="reconfigure">
                  <select [attr.data-id]="r.id" class="positions_2 form-control" (change)="updateRoster(r,$event,'position_2')">
                    <option selected></option>
                    <option value='Portero' [selected]="r.position == 'Portero'">{{'new-player.newPlayer_26' | translate}}</option>
                    <option value='Carrilero' [selected]="r.position == 'Carrilero'">{{'new-player.newPlayer_27' | translate}}</option>
                    <option value='Mediocampista' [selected]="r.position == 'Mediocampista'">{{'new-player.newPlayer_28' | translate}}</option>
                    <option value='Lateral izquierdo' [selected]="r.position == 'Lateral izquierdo'">{{'new-player.newPlayer_29' | translate}}</option>
                    <option value='Defensa central' [selected]="r.position == 'Defensa central'">{{'new-player.newPlayer_30' | translate}}</option>
                    <option value='Lateral derecho' [selected]="r.position == 'Lateral derecho'">{{'new-player.newPlayer_31' | translate}}</option>
                    <option value='Centrocampista Ofensivo' [selected]="r.position == 'Centrocampista Ofensivo'">{{'new-player.newPlayer_32' | translate}}</option>
                    <option value='Centrocampista Defensivo' [selected]="r.position == 'Centrocampista Defensivo'">{{'new-player.newPlayer_33' | translate}}</option>
                    <option value='Extremo Derecho' [selected]="r.position == 'Extremo Derecho'">{{'new-player.newPlayer_34' | translate}}</option>
                    <option value='Extremo Izquierdo' [selected]="r.position == 'Extremo Izquierdo'">{{'new-player.newPlayer_35' | translate}}</option>
                    <option value='Mediapunta' [selected]="r.position == 'Mediapunta'">{{'new-player.newPlayer_36' | translate}}</option>
                    <option value='Delantero' [selected]="r.position == 'Delantero'">{{'new-player.newPlayer_37' | translate}}</option>
                  </select>
                </span>
              </ion-col>

              <ion-col size="1">
                <span class="reconfigure">{{r.player?.side}}</span>
              </ion-col>

              <!-- <ion-col size="2">
                <span class=""><ion-toggle [checked]="r.titular" style="margin-top: 4px; padding-left: 0"></ion-toggle></span>
              </ion-col> -->
              <!-- <ion-col size="2">
                <div class="team-logo" [ngStyle]="{'background-color': (r.peto || '#fff') }"></div>
              </ion-col> -->
              <ion-col size="1">
                <span class="">
                  <ion-button slot="icon-only" color="danger">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </span>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="rosters.length == 0">
              <ion-col size="12" style="text-align: center; font-size: 14px;">{{'new-player.newPlayer_38' | translate}}</ion-col>
            </ion-row>

          </div>

          <ion-row>
            <ion-col size="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" (click)="step = 4" *ngIf="team.user_id == user.id">
                    {{'new-player.newPlayer_39' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button danger" style="width: 50%; float: right; height: 42px;" (click)="addRoster({})" *ngIf="team.user_id == user.id">
                    <ion-icon style="color: crimson;" name="add-outline"></ion-icon>
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button" (click)="step = 1">
                    {{'new-player.newPlayer_40' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>


        </div>


        <!-- /**/ -->

        <div *ngIf="step == 4">

          <ion-row style="height: 521px;">
            <ion-col size="3">

              <label class="preselect" [ngStyle]="{'background-image':'url('+player_image+')'}">
                <input type="file" style="display: none" id="team-file" (change)="upload($event,'player_image')">
              </label>

            </ion-col>

            <ion-col size="2">

              <label class="modal-label">
                {{'new-player.newPlayer_41' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_name">

            </ion-col>

            <ion-col size="1">

              <label class="modal-label">
                {{'new-player.newPlayer_42' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_number">
              
            </ion-col>

            <ion-col size="3">
              <label class="modal-label">
                {{'new-player.newPlayer_43' | translate}}
              </label>

              <select [(ngModel)]="player_position" class="form-control" style="top: 10px;">
                <option value='Portero'>{{'new-player.newPlayer_26' | translate}}</option>
                <option value='Carrilero'>{{'new-player.newPlayer_27' | translate}}</option>
                <option value='Mediocampista'>{{'new-player.newPlayer_28' | translate}}</option>
                <option value='Lateral izquierdo'>{{'new-player.newPlayer_29' | translate}}</option>
                <option value='Defensa central'>{{'new-player.newPlayer_30' | translate}}</option>
                <option value='Lateral derecho'>{{'new-player.newPlayer_31' | translate}}</option>
                <option value='Centrocampista Ofensivo'>{{'new-player.newPlayer_32' | translate}}</option>
                <option value='Centrocampista Defensivo'>{{'new-player.newPlayer_33' | translate}}</option>
                <option value='Extremo Derecho'>{{'new-player.newPlayer_34' | translate}}</option>
                <option value='Extremo Izquierdo'>{{'new-player.newPlayer_35' | translate}}</option>
                <option value='Mediapunta'>{{'new-player.newPlayer_36' | translate}}</option>
                <option value='Delantero'>{{'new-player.newPlayer_37' | translate}}</option>
              </select>
            </ion-col>

            <ion-col size="3">
              <label class="modal-label">
                {{'new-player.newPlayer_44' | translate}}
              </label>

              <select [(ngModel)]="player_position_2" class="form-control" style="top: 10px;">
                <option value='Portero'>{{'new-player.newPlayer_26' | translate}}</option>
                <option value='Carrilero'>{{'new-player.newPlayer_27' | translate}}</option>
                <option value='Mediocampista'>{{'new-player.newPlayer_28' | translate}}</option>
                <option value='Lateral izquierdo'>{{'new-player.newPlayer_29' | translate}}</option>
                <option value='Defensa central'>{{'new-player.newPlayer_30' | translate}}</option>
                <option value='Lateral derecho'>{{'new-player.newPlayer_31' | translate}}</option>
                <option value='Centrocampista Ofensivo'>{{'new-player.newPlayer_32' | translate}}</option>
                <option value='Centrocampista Defensivo'>{{'new-player.newPlayer_33' | translate}}</option>
                <option value='Extremo Derecho'>{{'new-player.newPlayer_34' | translate}}</option>
                <option value='Extremo Izquierdo'>{{'new-player.newPlayer_35' | translate}}</option>
                <option value='Mediapunta'>{{'new-player.newPlayer_36' | translate}}</option>
                <option value='Delantero'>{{'new-player.newPlayer_37' | translate}}</option>
              </select>
            </ion-col>

            <ion-col size="3" offset="3">

              <label class="modal-label">
                {{'new-player.newPlayer_45' | translate}}
              </label>

              <input type="date" class="modal-input" [(ngModel)]="player_bday">             

            </ion-col>

            <ion-col size="2">

              <label class="modal-label">
                {{'new-player.newPlayer_46' | translate}}
              </label>

              <select [(ngModel)]="player_sex" class="form-control" style="top: 10px;">
                <option selected disabled></option>
                <option value="Masculino">{{'new-player.newPlayer_47' | translate}}</option>
                <option value="Femenino">{{'new-player.newPlayer_48' | translate}}</option>
              </select>

            </ion-col>

            <ion-col size="1">

              <label class="modal-label">
                {{'new-player.newPlayer_49' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_weight">

            </ion-col>

            <ion-col size="1">

              <label class="modal-label">
                {{'new-player.newPlayer_50' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_height">
              
            </ion-col>

            <ion-col size="2">

              <label class="modal-label">
                {{'new-player.newPlayer_51' | translate}}
              </label>

              <select [(ngModel)]="player_side" class="form-control" style="top: 10px;">
                <option selected disabled></option>
                <option value="Diestro">{{'new-player.newPlayer_52' | translate}}</option>
                <option value="Zurdo">{{'new-player.newPlayer_53' | translate}}</option>
              </select>
              
            </ion-col>

            <!-- <ion-col size="2">
              <label class="modal-label">
                Titular
              </label>

              <span class=""><ion-toggle [(ngModel)]="player_titular" style="margin-top: 4px; padding-left: 0"></ion-toggle></span>
            </ion-col> -->

            <ion-col size="6">

              <label class="modal-label">
                {{'new-player.newPlayer_54' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_phone">
              
            </ion-col>

            <ion-col size="6">

              <label class="modal-label">
               {{'new-player.newPlayer_55' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_email">
              
            </ion-col>

            <ion-col size="12">
              <label class="modal-label">
                {{'new-player.newPlayer_56' | translate}}
              </label>

              <textarea [(ngModel)]="player_notes" style="width: 100%; resize: none; border-radius: 4px; padding: 8px;" rows="6"></textarea>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6" offset="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" [disabled]="!player_name" (click)="savePlayer()">
                    {{'new-player.newPlayer_57' | translate}}
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button danger" (click)="step = 3">
                    {{'new-player.newPlayer_58' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>

        </div>
      </div>
    </div>
  </div>

</ion-content>
