<!-- <ion-header>
  <ion-toolbar>
    <ion-title>information</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div id="modal-header">
    {{'information.information_1' | translate}}
  </div>
  <div id="outer-modal">
    <div id="inner-modal">

      <div id="inner-information">
        <h3>{{'information.information_2' | translate}}</h3>

        <h5>{{'information.information_3' | translate}}</h5>

        <h6>{{'information.information_4' | translate}}</h6>
          <ol>
            <li>
              {{'information.information_5' | translate}}
            </li>
            <li>
              {{'information.information_6' | translate}}
            </li>
            <li>
              {{'information.information_7' | translate}}
            </li>
            <li>
              {{'information.information_8' | translate}}
            </li>
          </ol>
        

        <h6>{{'information.information_9' | translate}}</h6>
          <ol>
            <li>
              {{'information.information_10' | translate}}
            </li>
            <li>
              {{'information.information_11' | translate}}
            </li>
            <li>
              {{'information.information_12' | translate}}
            </li>
          </ol>
        

        <h6>{{'information.information_13' | translate}}</h6>
          <ol>
            <li>
              {{'information.information_14' | translate}}
            </li>
            <li>
              {{'information.information_15' | translate}}
            </li>
            <li>
              {{'information.information_16' | translate}}
            </li>
          </ol>
        

        <h5><i>{{'information.information_17' | translate}}</i></h5>

        <a target="_blank" href="mailto:info@es-basic.com">info&#64;es-basic.com</a> <br>
      </div>
    </div>
  </div>

</ion-content>
