<ion-content>

  <div id="modal-header" *ngIf="step == 1">
    Organización de la Tarea
  </div>

  <div id="modal-header" *ngIf="step == 2">
    Datos del Partido
  </div>

  <div id="outer-modal">
    <div id="inner-modal">

      <div id="inner-information">

        <div style="min-height: 621px;" *ngIf="step == 1">

          <ion-row>

            <ion-col size="6">

              <label class="modal-label">
                {{'editProject.editProject_1' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="name">
            </ion-col>

            <ion-col size="6">

              <label class="modal-label">
                {{'editProject.editProject_2' | translate}}
              </label>

              <input type="number" class="modal-input" [(ngModel)]="participants">
            </ion-col>

            <ion-col size="6">

              <label class="modal-label">
                {{'editProject.editProject_3' | translate}}
              </label> <br>

              <select class="form-control" [(ngModel)]="difficult">
                  <option selected></option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
            </ion-col>

            <ion-col size="3">

              <label class="modal-label">
                {{'editProject.editProject_4' | translate}}
              </label>

              <!-- <input type="number" placeholder="Min" class="modal-input" [(ngModel)]="min_age"> -->
              <input type="text" placeholder="" class="modal-input" [(ngModel)]="objectives">
            </ion-col>

            <ion-col size="3">

              <label class="modal-label">
                {{'editProject.editProject_5' | translate}}
              </label>

              <!-- <input type="number" placeholder="Max" class="modal-input" [(ngModel)]="max_age"> -->
              <input type="text" placeholder="" class="modal-input" [(ngModel)]="objectives_secondary">
            </ion-col>

            <ion-col size="12">
              <label class="modal-label">
                {{'editProject.editProject_6' | translate}}
              </label>

              <textarea [(ngModel)]="description" style="width: 100%; resize: none; border-radius: 4px; padding: 8px;" rows="3"></textarea>
            </ion-col>

            <ion-col size="12">
              <label class="modal-label">
                {{'editProject.editProject_7' | translate}}
              </label>

              <textarea [(ngModel)]="conditions" style="width: 100%; resize: none; border-radius: 4px; padding: 8px;" rows="3"></textarea>
            </ion-col>

            <ion-col size="12">
              <label class="modal-label">
                {{'editProject.editProject_8' | translate}}
              </label>

              <textarea [(ngModel)]="variants" style="width: 100%; resize: none; border-radius: 4px; padding: 8px;" rows="3"></textarea>
            </ion-col>

            <ion-col size="12" *ngIf="user.email == 'info@afecfa.es'">
              <label class="modal-label">
                {{'editProject.editProject_9' | translate}}
              </label>
              <span class=""><ion-toggle [checked]="show_all" [(ngModel)]="show_all" style="margin-top: 4px; padding-left: 0"></ion-toggle></span>
            </ion-col>
          </ion-row>

          <ion-row class="row-bottom">
            <ion-col size="6" offset="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" [disabled]="!name" (click)="upProject()">
                    {{'editProject.editProject_10' | translate}}
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button danger" (click)="modal.dismiss()">
                    {{'editProject.editProject_11' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>

        </div>

        <!-- /**/ -->

        <div style="min-height: 621px;" *ngIf="step == 2">

          <ion-row style="min-height: 421px;">

            <ion-col size="6">

              <label class="modal-label">
                {{'editProject.editProject_12' | translate}}
              </label>

              <input type="number" class="modal-input" [(ngModel)]="home_score">
            </ion-col>

            <ion-col size="6">

              <label class="modal-label">
                {{'editProject.editProject_13' | translate}}
              </label>

              <input type="number" class="modal-input" [(ngModel)]="away_score">
            </ion-col>

            <ion-col size="3">

              <label class="modal-label">
                {{'editProject.editProject_14' | translate}}
              </label>

              <ion-datetime [(ngModel)]="date" class="modal-input" cancel-text="Cancelar" done-text="Ok" displayFormat="DD-MM-YYYY"></ion-datetime>
            </ion-col>

            <ion-col size="3">

              <label class="modal-label">
                {{'editProject.editProject_15' | translate}}
              </label>

              <ion-datetime [(ngModel)]="hour" class="modal-input" cancel-text="Cancelar" done-text="Ok" displayFormat="HH:mm"></ion-datetime>
            </ion-col>

            <ion-col size="3">

              <label class="modal-label">
                {{'editProject.editProject_16' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="location">
            </ion-col>

            <ion-col size="3">

              <label class="modal-label">
                {{'editProject.editProject_17' | translate}}
              </label>

              <input type="number" class="modal-input" [(ngModel)]="attendances">
            </ion-col>

            <ion-col size="3">
              <label class="modal-label">
                {{'editProject.editProject_18' | translate}}
              </label>

              <label style="margin-right: 12px;">
                <input type="radio" checked name="periods" value="2">
                2
              </label>

              <label style="margin-right: 12px;">
                <input type="radio" name="periods" value="3">
                3
              </label>

              <label style="margin-right: 12px;">
                <input type="radio" name="periods" value="4">
                4
              </label>
            </ion-col>

            <ion-col size="3">

              <label class="modal-label">
                {{'editProject.editProject_19' | translate}}
              </label>

              <input type="number" class="modal-input" [(ngModel)]="minutes">
            </ion-col>


            <ion-col size="3">
              
              <label class="modal-label">
                {{'editProject.editProject_20' | translate}}
              </label>

              <select [(ngModel)]="competition" class="form-control" style="top: 0; height: 37px;">
                <option selected></option>
                <option>Liga</option>
                <option>Copa</option>
              </select>
            </ion-col>


            <ion-col size="3">
              
              <label class="modal-label">
                {{'editProject.editProject_21' | translate}}
              </label>

              <select [(ngModel)]="jornada" class="form-control" *ngIf="competition == 'Liga'" style="top: 0; height: 37px;">
                <option selected></option>
                <option *ngFor="let j of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38]">{{'editProject.editProject_22' | translate}} {{j}}</option>
              </select>

              <select [(ngModel)]="jornada" class="form-control" *ngIf="competition == 'Copa'" style="top: 0; height: 37px;">
                <option selected></option>
                <option>{{'editProject.editProject_23' | translate}}</option>
                <option>{{'editProject.editProject_24' | translate}}</option>
                <option>{{'editProject.editProject_25' | translate}}</option>
                <option>{{'editProject.editProject_26' | translate}}</option>
                <option>{{'editProject.editProject_27' | translate}}</option>
                <option>{{'editProject.editProject_28' | translate}}</option>
                <option>{{'editProject.editProject_29' | translate}}</option>
              </select>
            </ion-col>

          </ion-row>



          <ion-row class="row-bottom">
            <ion-col size="6" offset="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" (click)="upProject()">
                    {{'editProject.editProject_30' | translate}}
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button danger" (click)="step = 2">
                    {{'editProject.editProject_31' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>

        </div>

      </div>

    </div>

  </div>

</ion-content>
