<!-- <ion-header>
  <ion-toolbar>
    <ion-title>information</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div id="modal-header">
    {{"pr-events.prEvents_1" | translate}}
  </div>

  <div id="outer-modal">
    <div id="inner-modal">

      <div id="inner-information">

        <div *ngIf="step == 1">

          <ion-row>
            <ion-col size="12">
              <div id="search-doc">
                <ion-icon name="search"></ion-icon>
                <input type="text" [(ngModel)]="query1">
                <div style="clear: both;"></div>
              </div>    
            </ion-col>
          </ion-row>
          
          <ion-row style="border-bottom: 1px solid #ccc; text-align: center;">
            <ion-col size="3">{{"pr-events.prEvents_2" | translate}}</ion-col>
            <ion-col size="4">{{"pr-events.prEvents_3" | translate}}</ion-col>
            <ion-col size="2">{{"pr-events.prEvents_4" | translate}}</ion-col>
            <ion-col size="2">{{"pr-events.prEvents_5" | translate}}</ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>

          <div style="height: 421px; overflow: auto;">
            

            <ion-row *ngFor="let e of prevents | search:query1; let i = index;" style="margin: 8px 0">

              <ion-col size="3">
                {{e.event}} {{e.type ? '- '+e.type : ''}}
              </ion-col>
              <ion-col size="4">
                {{e.player.name}} <br>
                <small *ngIf="e.assistant_id">{{"pr-events.prEvents_6" | translate}} <b>{{e.assistant.name}}</b></small>
                <small *ngIf="e.commited_id"> {{"pr-events.prEvents_7" | translate}} <b>{{e.commited.name}}</b></small>
                <small *ngIf="e.substitution_id"> {{"pr-events.prEvents_8" | translate}} <b>{{e.substitution.name}}</b></small>
              </ion-col>
              <ion-col size="2">
                <ion-icon name="radio-button-on-outline" *ngIf="e.period >= 1"></ion-icon>
                <ion-icon name="radio-button-on-outline" *ngIf="e.period >= 2"></ion-icon>
                <ion-icon name="radio-button-on-outline" *ngIf="e.period >= 3"></ion-icon>
                <ion-icon name="radio-button-on-outline" *ngIf="e.period >= 4"></ion-icon>
              </ion-col>
              <ion-col size="2">
                {{e.minute}}'{{e.second}}
              </ion-col>
              <ion-col size="1">
                <span class="">
                  <ion-button slot="icon-only" color="danger" (click)="delete(e.id)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </span>
              </ion-col>
              
            </ion-row>

            <ion-row *ngIf="prevents?.length == 0">
              <ion-col size="12" style="text-align: center; font-size: 14px;">{{"pr-events.prEvents_9" | translate}}</ion-col>
            </ion-row>

          </div>

          <ion-row>
            <ion-col size="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" (click)="step = 2">
                    {{"pr-events.prEvents_10" | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-row>
                
                <ion-col size="6">
                  <button class="modal-button success" (click)="pdf()">
                    {{"pr-events.prEvents_11" | translate}}
                  </button>
                </ion-col>
                <ion-col size="6">
                  <button class="modal-button danger" (click)="modal.dismiss()">
                    {{"pr-events.prEvents_12" | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>
          
          <!-- // -->

        </div>

        <div *ngIf="step == 2">

          <ion-row style="height: 309px;">

            <ion-col size="3">

              <label class="modal-label">
                {{"pr-events.prEvents_13" | translate}}
              </label> <br>

              <select class="form-control" [(ngModel)]="event">
                  <option selected></option>
                  <option value="Tiro">{{"pr-events.prEvents_14" | translate}}</option>
                  <option value="Pase">{{"pr-events.prEvents_15" | translate}}</option>
                  <option value="Cruzar">{{"pr-events.prEvents_16" | translate}}</option>
                  <!-- <option value="Entrada">{{"pr-events.prEvents_17" | translate}}</option> -->
                  <option value="Falta">{{"pr-events.prEvents_18" | translate}}</option>
                  <option value="Fuera de juego">{{"pr-events.prEvents_19" | translate}}</option>
                  <option value="Driblar">{{"pr-events.prEvents_20" | translate}}</option>
                  <option value="Rotación">{{"pr-events.prEvents_21" | translate}}</option>
                  <option value="Lanzamiento">{{"pr-events.prEvents_22" | translate}}</option>
                  <option value="Saque de esquina">{{"pr-events.prEvents_23" | translate}}</option>
                  <option value="Tiro libre directo">{{"pr-events.prEvents_24" | translate}}</option>
                  <option value="Tiro libre indirecto">{{"pr-events.prEvents_25" | translate}}</option>
                  <option value="Tiro penal">{{"pr-events.prEvents_26" | translate}}</option>
                  <option value="Auto Gol">{{"pr-events.prEvents_27" | translate}}</option>
                  <option value="Tarjeta amarilla">{{"pr-events.prEvents_28" | translate}}</option>
                  <option value="Tarjeta roja">{{"pr-events.prEvents_29" | translate}}</option>
                  <option value="Sustitución">{{"pr-events.prEvents_30" | translate}}</option>
                </select>
            </ion-col>

            <ion-col size="3">

              <label class="modal-label">
                {{"pr-events.prEvents_31" | translate}}
              </label> <br>

              <select class="form-control" [(ngModel)]="period">
                <option *ngFor="let i of periods">{{i}}</option>
              </select>
            </ion-col>

            <ion-col size="3">

              <label class="modal-label">
                {{"pr-events.prEvents_32" | translate}}
              </label>

              <input type="number" style="height: 39px;" class="modal-input" [max]="proyect.minutes" [(ngModel)]="minute">
            </ion-col>

            <ion-col size="3">

              <label class="modal-label">
                {{"pr-events.prEvents_33" | translate}}
              </label>

              <input type="number" style="height: 39px;" class="modal-input" max="59" [(ngModel)]="second">
            </ion-col>

            <ion-col size="4">
              <label class="modal-label">
                {{"pr-events.prEvents_34" | translate}}
              </label> <br>

              <select class="form-control" [(ngModel)]="team_id" (change)="getPlayers()">
                  <option selected></option>
                  <option [value]="t.id" *ngFor="let t of teams">{{t.name}}</option>
                </select>
            </ion-col>

            <ion-col size="4">
              <label class="modal-label">
                {{"pr-events.prEvents_35" | translate}}
              </label> <br>

              <select class="form-control" [(ngModel)]="player_id">
                  <option selected></option>
                  <option [value]="p.id" *ngFor="let p of players">{{p.name}}</option>
                </select>
            </ion-col>

            <ion-col size="4" *ngIf="event == 'Tiro'">
              <label class="modal-label">
                {{"pr-events.prEvents_36" | translate}}
              </label> <br>

              <select class="form-control" [(ngModel)]="assistant_id">
                  <option selected></option>
                  <option [value]="p.id" *ngFor="let p of players">{{p.name}}</option>
                </select>
            </ion-col> <br>

            <ion-col size="4" *ngIf="event == 'Falta'">
              <label class="modal-label">
                {{"pr-events.prEvents_37" | translate}}
              </label> <br>

              <select class="form-control" [(ngModel)]="commited_id">
                  <option selected></option>
                  <option [value]="p.id" *ngFor="let p of other_players">{{p.name}}</option>
                </select>
            </ion-col>

            <ion-col size="4" *ngIf="event == 'Sustitución'">
              <label class="modal-label">
                {{"pr-events.prEvents_38" | translate}}
              </label> <br>

              <select class="form-control" [(ngModel)]="substitution_id">
                  <option selected></option>
                  <option [value]="p.id" *ngFor="let p of players">{{p.name}}</option>
                </select>
            </ion-col>

            <ion-col size="4" *ngIf="event == 'Tiro'">
              <label class="modal-label">
                {{"pr-events.prEvents_39" | translate}}
              </label> <br>

              <select class="form-control" [(ngModel)]="foot">
                  <option selected></option>
                  <option value="Derecho">{{"pr-events.prEvents_40" | translate}}</option>
                  <option value="Izquierdo">{{"pr-events.prEvents_41" | translate}}</option>
                </select>
            </ion-col>

          </ion-row>

          <ion-row style="height: 260px;">

            <ion-col size="4" *ngIf="event == 'Tiro'">
              <label class="modal-label">
                {{"pr-events.prEvents_42" | translate}}
              </label> <br>

              <select class="form-control" [(ngModel)]="event_type">
                  <option value="Gol">{{"pr-events.prEvents_43" | translate}}</option>
                  <option value="Tiro lateral izquierdo">{{"pr-events.prEvents_44" | translate}}</option>
                  <option value="Tiro lateral derecho">{{"pr-events.prEvents_45" | translate}}</option>
                  <option value="Cabezazo">{{"pr-events.prEvents_46" | translate}}</option>
                  <option value="Lanzamiento">{{"pr-events.prEvents_47" | translate}}</option>
                  <option value="Tiro de penalti">{{"pr-events.prEvents_48" | translate}}</option>
                  <option value="Tiro libre directo">{{"pr-events.prEvents_49" | translate}}</option>
                  <option value="Desviado">{{"pr-events.prEvents_50" | translate}}</option>
                  <option value="Salvado por el portero">{{"pr-events.prEvents_51" | translate}}</option>
                </select>
            </ion-col> <br>

            <ion-col size="12">
              <label class="modal-label">
                {{"pr-events.prEvents_52" | translate}}
              </label>

              <textarea [(ngModel)]="notes" style="width: 100%; resize: none; border-radius: 4px; padding: 8px;" rows="3"></textarea>
            </ion-col>

            <!-- <ion-col size="12" *ngIf="event != 'Tarjeta amarilla' || event != 'Tarjeta roja' || event != 'Falta'">

              <ion-row>
                
              </ion-row>
              
            </ion-col> -->

          </ion-row>

          <ion-row>
            <ion-col size="6" offset="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" [disabled]="event && !player_id" (click)="upEvent()">
                    {{"pr-events.prEvents_53" | translate}}
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button danger" (click)="step = 1">
                    {{"pr-events.prEvents_54" | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>

        </div>

      </div>
    </div>
  </div>

</ion-content>
