<!-- <ion-header>
  <ion-toolbar>
    <ion-title>information</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div id="modal-header" *ngIf="step == 3">
    {{'teams.teams_1' | translate}}
  </div>

  <div id="modal-header" *ngIf="step == 4">
    {{'teams.teams_2' | translate}}
  </div>

  <div id="modal-header" *ngIf="step == 5">
    {{'teams.teams_3' | translate}}
  </div>

  <div id="modal-header" *ngIf="step == 6">
    {{'teams.teams_4' | translate}}
  </div>

  <div id="modal-header" *ngIf="step == 7">
    {{'teams.teams_5' | translate}}
  </div>
  <div id="outer-modal">
    <div id="inner-modal">

      <div id="inner-information">

        <div *ngIf="step == 3">

          <ion-row>
            <ion-col size="12">
              <div id="search-doc">
                <ion-icon name="search"></ion-icon>
                <input type="text" [(ngModel)]="query1">
                <div style="clear: both;"></div>
              </div>    
            </ion-col>
          </ion-row>
          
          <ion-row style="border-bottom: 1px solid #ccc; text-align: center;">
            <ion-col size="3">{{'teams.teams_6' | translate}}</ion-col>
            <ion-col size="4">{{'teams.teams_7' | translate}}</ion-col>
            <ion-col size="4">{{'teams.teams_8' | translate}}</ion-col>
            <!-- <ion-col size="3">Favorito</ion-col> -->
            <ion-col size="1"></ion-col>
          </ion-row>

          <div style="height: 421px; overflow: auto;">
            

            <ion-row *ngFor="let t of teams | search:query1; let i = index;" style="margin: 8px 0" [ngClass]="{'selectedTeam': team == t.id}">
              <ion-col size="3" (click)="team = t.id">
                <div class="team-logo" [ngStyle]="{'background-image':'url('+t.image+')'}"></div>
              </ion-col>
              <ion-col size="4" (click)="team = t.id" style="text-align: center;">
                <span class="reconfigure">{{t.name}}</span>
              </ion-col>
              <ion-col size="4" (click)="team = t.id" style="text-align: center;">
                <span class="reconfigure">{{t.created_at | date:'dd-MM-yyyy'}}</span>
              </ion-col>
              <!-- <ion-col size="3">
                <span class=""><ion-toggle style="margin-top: 4px"></ion-toggle></span>
              </ion-col> -->
              <ion-col size="1">
                <span class="">
                  <ion-button slot="icon-only" color="danger" (click)="delete(t.id)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </span>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="teams.length == 0">
              <ion-col size="12" style="text-align: center; font-size: 14px;">{{'teams.teams_9' | translate}}</ion-col>
            </ion-row>

          </div>

          <ion-row>
            <ion-col size="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" (click)="goCreate()">
                    {{'teams.teams_10' | translate}}
                  </button>
                </ion-col>
                <ion-col size="6">
                  <button class="modal-button" *ngIf="team != null" (click)="step = 5; preRosters(); prePlayers();">
                    {{'teams.teams_11' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" *ngIf="team != null" (click)="step = 7; edit();">
                    {{'teams.teams_12' | translate}}
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button" (click)="modal.dismiss()">
                    {{'teams.teams_13' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>


        </div>

        <div *ngIf="step == 4">

          <ion-row style="height: 521px;">
            <ion-col size="3">

              <label class="preselect" [ngStyle]="{'background-image':'url('+team_image+')'}">
                <input type="file" style="display: none" id="team-file" (change)="upload($event,'team_image')">
              </label>

            </ion-col>

            <ion-col size="9">

              <label class="modal-label">
                {{'teams.teams_14' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="team_name">
            </ion-col>
          </ion-row>

          <!-- <ion-row>
            <ion-col offset="4" size="4">
              <button class="button-login" [disabled]="!team_name" (click)="saveTeam()">
                Agregar
              </button>
            </ion-col>
          </ion-row> -->

          <ion-row>
            <ion-col size="6" offset="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" [disabled]="!team_name" (click)="saveTeam()">
                    {{'teams.teams_15' | translate}}
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button danger" (click)="step = 3">
                    {{'teams.teams_16' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>

        </div>

        <!-- /**/ -->

        <div *ngIf="step == 5">

          <ion-row>
            <ion-col size="12">
              <div id="search-doc">
                <ion-icon name="search"></ion-icon>
                <input type="text" [(ngModel)]="query2">
                <div style="clear: both;"></div>
              </div>    
            </ion-col>
          </ion-row>
          
          <ion-row style="border-bottom: 1px solid #ccc; text-align: left;">
            <ion-col size="1"></ion-col>
            <ion-col size="2">{{'teams.teams_17' | translate}}</ion-col>
            <ion-col size="2">{{'teams.teams_18' | translate}}</ion-col>
            <ion-col size="1">{{'teams.teams_19' | translate}}</ion-col>
            <ion-col size="1">{{'teams.teams_20' | translate}}</ion-col>
            
            <ion-col size="3" class="ion-no-padding">

              <ion-row>

                <ion-col size="6">{{'teams.teams_21' | translate}}</ion-col>
                <ion-col size="6">{{'teams.teams_22' | translate}}</ion-col>
                
              </ion-row>
              
            </ion-col>
            
            <ion-col size="1">Dominancia</ion-col>
            <!-- <ion-col size="2">Peto</ion-col> -->
            <ion-col size="1"></ion-col>
            
          </ion-row>

          <div style="height: 421px; overflow: auto;">
            

            <ion-row *ngFor="let r of rosters | search:query; let i = index;" style="margin: 8px 0">
              <ion-col size="1">
                
                <label class="preselect2" [ngStyle]="{'background-image':'url('+r.player?.image+')'}">
                  
                </label>

              </ion-col>
              <ion-col size="2">
                <span class="reconfigure">
                  <select [attr.data-id]="r.id" class="players form-control" (change)="updateRoster(r,$event,'player')">
                    <option selected></option>
                    <option [selected]="p.id == r.player_id" *ngFor="let p of players | double:players_selected:r.player_id" [value]="p.id">{{p.name}}</option>
                  </select>
                </span>
                <!-- <span class="reconfigure">{{r.player.name}}</span> -->
              </ion-col>
              <ion-col size="2">
                <span class="reconfigure">{{r.player?.email}}</span>
              </ion-col>
              <ion-col size="1">
                <span class="reconfigure">{{r.player?.phone}}</span>
              </ion-col>
              <ion-col size="1">
                <span class="reconfigure">
                  <input type="number" [attr.data-id]="r.id" class="numbers form-control" [value]="r.number" (change)="updateRoster(r,$event,'number')">
                </span>
              </ion-col>
              <ion-col size="3" class="ion-no-padding">

                <ion-row>

                  <ion-col size="6">
                    <span class="reconfigure">
                      <select [attr.data-id]="r.id" class="positions form-control" (change)="updateRoster(r,$event,'position')">
                        <option selected></option>
                        <option value='Portero' [selected]="r.position == 'Portero'">{{'teams.teams_23' | translate}}</option>
                        <option value='Carrilero' [selected]="r.position == 'Carrilero'">{{'teams.teams_24' | translate}}</option>
                        <option value='Mediocampista' [selected]="r.position == 'Mediocampista'">{{'teams.teams_25' | translate}}</option>
                        <option value='Lateral izquierdo' [selected]="r.position == 'Lateral izquierdo'">{{'teams.teams_26' | translate}}</option>
                        <option value='Defensa central' [selected]="r.position == 'Defensa central'">{{'teams.teams_27' | translate}}</option>
                        <option value='Lateral derecho' [selected]="r.position == 'Lateral derecho'">{{'teams.teams_28' | translate}}</option>
                        <option value='Centrocampista Ofensivo' [selected]="r.position == 'Centrocampista Ofensivo'">{{'teams.teams_29' | translate}}</option>
                        <option value='Centrocampista Defensivo' [selected]="r.position == 'Centrocampista Defensivo'">{{'teams.teams_30' | translate}}</option>
                        <option value='Extremo Derecho' [selected]="r.position == 'Extremo Derecho'">{{'teams.teams_31' | translate}}</option>
                        <option value='Extremo Izquierdo' [selected]="r.position == 'Extremo Izquierdo'">{{'teams.teams_32' | translate}}</option>
                        <option value='Mediapunta' [selected]="r.position == 'Mediapunta'">{{'teams.teams_33' | translate}}</option>
                        <option value='Delantero' [selected]="r.position == 'Delantero'">{{'teams.teams_34' | translate}}</option>
                      </select>
                    </span>
                  </ion-col>

                  <ion-col size="6">
                    <span class="reconfigure">
                      <select [attr.data-id]="r.id" class="positions_2 form-control" (change)="updateRoster(r,$event,'position_2')">
                        <option selected></option>
                        <option value='Portero' [selected]="r.position_2 == 'Portero'">{{'teams.teams_23' | translate}}</option>
                        <option value='Carrilero' [selected]="r.position_2 == 'Carrilero'">{{'teams.teams_24' | translate}}</option>
                        <option value='Mediocampista' [selected]="r.position_2 == 'Mediocampista'">{{'teams.teams_25' | translate}}</option>
                        <option value='Lateral izquierdo' [selected]="r.position_2 == 'Lateral izquierdo'">{{'teams.teams_26' | translate}}</option>
                        <option value='Defensa central' [selected]="r.position_2 == 'Defensa central'">{{'teams.teams_27' | translate}}</option>
                        <option value='Lateral derecho' [selected]="r.position_2 == 'Lateral derecho'">{{'teams.teams_28' | translate}}</option>
                        <option value='Centrocampista Ofensivo' [selected]="r.position_2 == 'Centrocampista Ofensivo'">{{'teams.teams_29' | translate}}</option>
                        <option value='Centrocampista Defensivo' [selected]="r.position_2 == 'Centrocampista Defensivo'">{{'teams.teams_30' | translate}}</option>
                        <option value='Extremo Derecho' [selected]="r.position_2 == 'Extremo Derecho'">{{'teams.teams_31' | translate}}</option>
                        <option value='Extremo Izquierdo' [selected]="r.position_2 == 'Extremo Izquierdo'">{{'teams.teams_32' | translate}}</option>
                        <option value='Mediapunta' [selected]="r.position_2 == 'Mediapunta'">{{'teams.teams_33' | translate}}</option>
                        <option value='Delantero' [selected]="r.position_2 == 'Delantero'">{{'teams.teams_34' | translate}}</option>
                      </select>
                    </span>
                  </ion-col>
                  
                </ion-row>
                
              </ion-col>

              <ion-col size="1">
                <span class="reconfigure">{{r.player?.side}}</span>
              </ion-col>

              <!-- <ion-col size="2">
                <span class=""><ion-toggle [checked]="r.titular" style="margin-top: 4px; padding-left: 0"></ion-toggle></span>
              </ion-col> -->
              <!-- <ion-col size="2">
                <div class="team-logo" [ngStyle]="{'background-color': (r.peto || '#fff') }"></div>
              </ion-col> -->
              <ion-col size="1">
                <span class="">
                  <ion-button slot="icon-only" color="danger" (click)="delete2(r.id,team)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </span>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="rosters.length == 0">
              <ion-col size="12" style="text-align: center; font-size: 14px;">{{'teams.teams_35' | translate}}</ion-col>
            </ion-row>

          </div>

          <ion-row>
            <ion-col size="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" (click)="step = 6">
                    {{'teams.teams_36' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button danger" style="width: 50%; float: right; height: 42px;" (click)="addRoster({})">
                    <ion-icon style="color: crimson;" name="add-outline"></ion-icon>
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button" (click)="step = 3">
                    {{'teams.teams_37' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>


        </div>


        <!-- /**/ -->

        <div *ngIf="step == 6">

          <ion-row style="height: 521px;">
            <ion-col size="3">

              <label class="preselect" [ngStyle]="{'background-image':'url('+player_image+')'}">
                <input type="file" style="display: none" id="team-file" (change)="upload($event,'player_image')">
              </label>

            </ion-col>

            <ion-col size="2">

              <label class="modal-label">
                {{'teams.teams_38' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_name">

            </ion-col>

            <ion-col size="1">

              <label class="modal-label">
                {{'teams.teams_39' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_number">
              
            </ion-col>

            <ion-col size="3">
              <label class="modal-label">
                {{'teams.teams_40' | translate}}
              </label>

              <select [(ngModel)]="player_position" class="form-control" style="top: 10px;">
                <option value='Portero'>{{'teams.teams_23' | translate}}</option>
                <option value='Carrilero'>{{'teams.teams_24' | translate}}</option>
                <option value='Mediocampista'>{{'teams.teams_25' | translate}}</option>
                <option value='Lateral izquierdo'>{{'teams.teams_26' | translate}}</option>
                <option value='Defensa central'>{{'teams.teams_27' | translate}}</option>
                <option value='Lateral derecho'>{{'teams.teams_28' | translate}}</option>
                <option value='Centrocampista Ofensivo'>{{'teams.teams_29' | translate}}</option>
                <option value='Centrocampista Defensivo'>{{'teams.teams_30' | translate}}</option>
                <option value='Extremo Derecho'>{{'teams.teams_31' | translate}}</option>
                <option value='Extremo Izquierdo'>{{'teams.teams_32' | translate}}</option>
                <option value='Mediapunta'>{{'teams.teams_33' | translate}}</option>
                <option value='Delantero'>{{'teams.teams_34' | translate}}</option>
              </select>
            </ion-col>

            <ion-col size="3">
              <label class="modal-label">
                Posición Secundaria
              </label>

              <select [(ngModel)]="player_position_2" class="form-control" style="top: 10px;">
                <option value='Portero'>{{'teams.teams_23' | translate}}</option>
                <option value='Carrilero'>{{'teams.teams_24' | translate}}</option>
                <option value='Mediocampista'>{{'teams.teams_25' | translate}}</option>
                <option value='Lateral izquierdo'>{{'teams.teams_26' | translate}}</option>
                <option value='Defensa central'>{{'teams.teams_27' | translate}}</option>
                <option value='Lateral derecho'>{{'teams.teams_28' | translate}}</option>
                <option value='Centrocampista Ofensivo'>{{'teams.teams_29' | translate}}</option>
                <option value='Centrocampista Defensivo'>{{'teams.teams_30' | translate}}</option>
                <option value='Extremo Derecho'>{{'teams.teams_31' | translate}}</option>
                <option value='Extremo Izquierdo'>{{'teams.teams_32' | translate}}</option>
                <option value='Mediapunta'>{{'teams.teams_33' | translate}}</option>
                <option value='Delantero'>{{'teams.teams_34' | translate}}</option>
              </select>
            </ion-col>

            <ion-col size="3" offset="3">

              <label class="modal-label">
                {{'teams.teams_41' | translate}}
              </label>

              <input type="date" class="modal-input" [(ngModel)]="player_bday">             

            </ion-col>

            <ion-col size="2">

              <label class="modal-label">
                {{'teams.teams_42' | translate}}
              </label>

              <select [(ngModel)]="player_sex" class="form-control" style="top: 10px;">
                <option selected disabled></option>
                <option value="Masculino">{{'teams.teams_43' | translate}}</option>
                <option value="Femenino">{{'teams.teams_44' | translate}}</option>
              </select>

            </ion-col>

            <ion-col size="1">

              <label class="modal-label">
                {{'teams.teams_45' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_weight">

            </ion-col>

            <ion-col size="1">

              <label class="modal-label">
                {{'teams.teams_46' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_height">
              
            </ion-col>

            <ion-col size="2">

              <label class="modal-label">
                {{'teams.teams_47' | translate}}
              </label>

              <select [(ngModel)]="player_side" class="form-control" style="top: 10px;">
                <option selected disabled></option>
                <option value="Diestro">{{'teams.teams_48' | translate}}</option>
                <option value="Zurdo">{{'teams.teams_49' | translate}}</option>
              </select>
              
            </ion-col>

            <!-- <ion-col size="2">
              <label class="modal-label">
                Titular
              </label>

              <span class=""><ion-toggle [(ngModel)]="player_titular" style="margin-top: 4px; padding-left: 0"></ion-toggle></span>
            </ion-col> -->

            <ion-col size="6">

              <label class="modal-label">
                {{'teams.teams_50' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_phone">
              
            </ion-col>

            <ion-col size="6">

              <label class="modal-label">
                {{'teams.teams_51' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_email">
              
            </ion-col>

            <ion-col size="12">
              <label class="modal-label">
                {{'teams.teams_52' | translate}}
              </label>

              <textarea [(ngModel)]="player_notes" style="width: 100%; resize: none; border-radius: 4px; padding: 8px;" rows="6"></textarea>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6" offset="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" [disabled]="!player_name" (click)="savePlayer()">
                    {{'teams.teams_53' | translate}}
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button danger" (click)="step = 5">
                    {{'teams.teams_54' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>

        </div>

        <!-- /**/ -->

        <div *ngIf="step == 7">

          <ion-row style="height: 521px;">
            <ion-col size="3">

              <label class="preselect" [ngStyle]="{'background-image':'url('+update_team_image+')'}">
                <input type="file" style="display: none" id="team-file" (change)="upload($event,'update_team_image')">
              </label>

            </ion-col>

            <ion-col size="9">

              <label class="modal-label">
                {{'teams.teams_55' | translate}}
              </label>

              <input type="text" class="modal-input" [(ngModel)]="update_team_name">
            </ion-col>
          </ion-row>

          <!-- <ion-row>
            <ion-col offset="4" size="4">
              <button class="button-login" [disabled]="!update_team_name" (click)="saveTeam()">
                Agregar
              </button>
            </ion-col>
          </ion-row> -->

          <ion-row>
            <ion-col size="6" offset="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" [disabled]="!update_team_name" (click)="updateTeam()">
                    {{'teams.teams_56' | translate}}
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button danger" (click)="step = 3">
                    {{'teams.teams_57' | translate}}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>

        </div>
      </div>
    </div>
  </div>

</ion-content>
