<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="login">
    <img src="assets/logo-f.png" alt="">
    <br>

    <div *ngIf="step == 1">
      
      <div class="input-box">
        <div class="icon">
          <ion-icon name="mail-outline"></ion-icon>
        </div>

        <div class="input">
          <input type="email" [(ngModel)]="email" placeholder="{{'recovery.email' | translate}}">
        </div>
        <div style="clear: both;"></div>
      </div>

      <button class="button-login" (click)="enviar()" routerDirection="root">
        {{'recovery.send' | translate}}
      </button>

    </div>

    <div *ngIf="step == 2">
      
      <div class="input-box">
        <div class="icon">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </div>

        <div class="input">
          <input type="text" [(ngModel)]="reenterCode" placeholder="{{'recovery.code' | translate}}">
        </div>
        <div style="clear: both;"></div>
      </div>

      <button class="button-login" (click)="comprobar()" routerDirection="root">
        {{'recovery.check' | translate}}
      </button>
    
    </div>

    <div *ngIf="step == 3">
      
      <div class="input-box">
        <div class="icon">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </div>

        <div class="input">
          <input type="password" [(ngModel)]="password" placeholder="{{'recovery.password' | translate}}">
        </div>
        <div style="clear: both;"></div>
      </div>

      <div class="input-box">
        <div class="icon">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </div>

        <div class="input">
          <input type="password" [(ngModel)]="password_confirmation" placeholder="{{'recovery.repeat_password' | translate}}">
        </div>
        <div style="clear: both;"></div>
      </div>

      <button class="button-login" (click)="change()" routerDirection="root">
        {{'recovery.change' | translate}}
      </button>
    
    </div>

    <span class="other-text">{{'recovery.already_account' | translate}} <span  [routerLink]="['/login']" routerDirection="root">{{'recovery.login' | translate}}</span></span>
    <span class="other-text">{{'recovery.not_account' | translate}} <span  [routerLink]="['/register']" routerDirection="root">{{'recovery.register' | translate}}</span></span>

  </div>

</ion-content>
